#!/usr/bin/env zsh

# ----- [Common] -----
for alias_file in ~/.local/share/alias/common/*.sh; do
    source-safe "$alias_file"
done

# ----- [OS Specific] -----
{{- if eq .chezmoi.os "darwin" }}
# macOS
source-safe ~/.local/share/alias/os/macos.sh
{{- else if eq .chezmoi.os "linux" }}
# Linux
source-safe ~/.local/share/alias/os/linux.sh
{{- else if (.chezmoi.kernel | contains "microsoft") }}
# WSL
source-safe ~/.local/share/alias/os/wsl.sh
{{- end }}


{{- if hasKey . "system" }}
# ----- [System Role] -----
{{- if eq .system "server" }}
# Server
source-safe ~/.local/share/alias/system/server.sh
{{- else if eq .system "client" }}
# Client
source-safe ~/.local/share/alias/system/client.sh
{{- end }}
{{- end }}


# ----- [Tools] -----
if [[ -d ~/.local/share/alias/tools ]]; then
    for tool_file in ~/.local/share/alias/tools/*.sh; do
        tool_name=$(basename "$tool_file" .sh)
        command -v "$tool_name" >/dev/null 2>&1 && source-safe "$tool_file"
    done
fi

# ----- [Local (chezmoi ignored)] -----
source-safe ~/.local/share/alias/local.sh


{{- if hasKey . "development_mode" }}
{{- if .development_mode }}
# ----- [Development Mode] -----
source-safe ~/.local/share/alias/dev.sh
{{- end }}
{{- end }}

